<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>广播稿</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../Public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Public/css/normalize.css"/>
    <link rel="stylesheet" href="../Public/css/success.css"/>
</head>
<body>
<form method="post" id="Form">
    <div class="container">
        <nav>
            <div class="go_back"><a href="#"><img src="../Public/images/go_back.png" alt="go_back"/></a></div>
            <p>投稿成功</p>
        </nav>
        <div class="right_container">
            <img src="../Public/images/right.png" alt="right"/>
        </div>
        <p>你已成功为学院贡献了你的力量，</p>
        <p>希望再接再厉</p>
        <a class="again_button" href=""><span>我要在写</span></a>
    </div>
</form>
</body>
<script type="text/javascript" src="../Public/javascripts/jquery.js"></script>
<script type="text/javascript" src="../Public/javascripts/static.js"></script>
</html>