html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif; }

.container {
  min-height: 20em;
  height: 100%;
  padding-left: 0;
  padding-right: 0; }
  .container .title {
    background: url("../images/title.png") repeat-x;
    background-color: #fd687a;
    background-position: 0 90%; }
    .container .title h3 {
      font-family: "sans-serif";
      color: #ffffff;
      font-size: 1.6em;
      font-weight: normal;
      margin: 0.5em 0;
      text-align: center; }
  .container .sorry {
    width: 100%;
    min-height: 100%;
    background: #fff;
    float: left; }
    .container .sorry .sorry_logo {
      padding: 12% 0;
      width: 50%;
      margin: 0 auto; }
      .container .sorry .sorry_logo img {
        width: 100%; }
    .container .sorry .sendButton {
      filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='$start',endColorStr='#$startColor',gradientType='1');
      background: -moz-linear-gradient(top, #ff8669, #ff6d6c);
      background: -o-linear-gradient(top, #ff8669, #ff6d6c);
      background: -webkit-linear-gradient(top, #ff8669, #ff6d6c);
      width: 45%;
      margin: 0 auto;
      padding: 0.5em 0;
      font-size: 1.5em;
      color: #fff;
      text-align: center;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      border-radius: 6px; }
      .container .sorry .sendButton a {
        color: inherit; }
    .container .sorry p {
      margin: 0.3em 0;
      color: #acacac;
      text-align: center; }
  .container footer {
    background-color: #e8e8e8; }
    .container footer p {
      color: #6c6c6c;
      font-size: 1.0em;
      padding: 0 5%;
      text-align: center; }
