<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>啦啦队投票</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../Public/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link rel="stylesheet" href="../Public/css/main.css"/>

</head>
<body>
    <div class="container">
        <nav class="nav title">
            <h3>啦啦队投票</h3>
        </nav>
        <header class="nav logo">
            <div class="img_wrapper"><img src="../Public/images/logo.png" alt="wrapper"/></div>
            <div class="days"><span id="count">0</span></div>
        </header>
        <section class="line"></section>
        <section class="lottery">
            <p>参加啦啦操投票抽大奖,您剩余的抽奖次数为<span id="lottery_count">1</span>次</p>
            <div class="lottery_button"><a href="">投票</a></div>
        </section>
        <section class="rules">
            <h2>投票规则</h2>
            <ul>
                <li>1. 所有关注重邮微校的用户均有权进行投票。</li>
                <li>2. 每个账号每天只能投3次票，每次票必须选择5支队伍。</li>
            </ul>
        </section>
        <section class="troopes_container">
            <section class="troopes" data-vertification="true" data-troope="hello">
                <div class="statement">
                    <div class="head"><img class="lazy" data-original="../Public/images/avatar.png" alt="avatar"/></div>
                    <div class="troope_info">
                        <h3>计算机啦啦队</h3>
                        <p>队伍由超人，蜘蛛侠，钢铁侠，绿灯侠，蝙蝠侠，绿箭侠，益达侠等特NB并由A DB公司赞助的人组成</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="heart">
                        <a class="vote"><img class="lazy" data-original="../Public/images/broken_heart.png" alt="heart"/></a>
                        <span class="tickets">100票</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/troope.png" alt="Troope"/></a>
                        <span>队伍详情</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/TV.png" alt="Troope"/></a>
                        <span>微视屏</span>
                    </div>
                </div>
            </section>
            <section class="troopes" data-vertification="true" data-troope="hello">
                <div class="statement">
                    <div class="head"><img class="lazy" data-original="../Public/images/avatar.png" alt="avatar"/></div>
                    <div class="troope_info">
                        <h3>计算机啦啦队</h3>
                        <p>队伍由超人，蜘蛛侠，钢铁侠，绿灯侠，蝙蝠侠，绿箭侠，益达侠等特NB并由A DB公司赞助的人组成</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="heart">
                        <a class="vote"><img class="lazy" data-original="../Public/images/broken_heart.png" alt="heart"/></a>
                        <span class="tickets">100票</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/troope.png" alt="Troope"/></a>
                        <span>队伍详情</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/TV.png" alt="Troope"/></a>
                        <span>微视屏</span>
                    </div>
                </div>
            </section>
            <section class="troopes" data-vertification="true" data-troope="hello">
                <div class="statement">
                    <div class="head"><img class="lazy" data-original="../Public/images/avatar.png" alt="avatar"/></div>
                    <div class="troope_info">
                        <h3>计算机啦啦队</h3>
                        <p>队伍由超人，蜘蛛侠，钢铁侠，绿灯侠，蝙蝠侠，绿箭侠，益达侠等特NB并由A DB公司赞助的人组成</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="heart">
                        <a class="vote"><img class="lazy" data-original="../Public/images/broken_heart.png" alt="heart"/></a>
                        <span class="tickets">100票</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/troope.png" alt="Troope"/></a>
                        <span>队伍详情</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/TV.png" alt="Troope"/></a>
                        <span>微视屏</span>
                    </div>
                </div>
            </section>
            <section class="troopes" data-vertification="true" data-troope="hello">
                <div class="statement">
                    <div class="head"><img class="lazy" data-original="../Public/images/avatar.png" alt="avatar"/></div>
                    <div class="troope_info">
                        <h3>计算机啦啦队</h3>
                        <p>队伍由超人，蜘蛛侠，钢铁侠，绿灯侠，蝙蝠侠，绿箭侠，益达侠等特NB并由A DB公司赞助的人组成</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="heart">
                        <a class="vote"><img class="lazy" data-original="../Public/images/broken_heart.png" alt="heart"/></a>
                        <span class="tickets">100票</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/troope.png" alt="Troope"/></a>
                        <span>队伍详情</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/TV.png" alt="Troope"/></a>
                        <span>微视屏</span>
                    </div>
                </div>
            </section>
            <section class="troopes" data-vertification="true" data-troope="hello">
                <div class="statement">
                    <div class="head"><img class="lazy" data-original="../Public/images/avatar.png" alt="avatar"/></div>
                    <div class="troope_info">
                        <h3>计算机啦啦队</h3>
                        <p>队伍由超人，蜘蛛侠，钢铁侠，绿灯侠，蝙蝠侠，绿箭侠，益达侠等特NB并由A DB公司赞助的人组成</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="heart">
                        <a class="vote"><img class="lazy" data-original="../Public/images/broken_heart.png" alt="heart"/></a>
                        <span class="tickets">100票</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/troope.png" alt="Troope"/></a>
                        <span>队伍详情</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/TV.png" alt="Troope"/></a>
                        <span>微视屏</span>
                    </div>
                </div>
            </section>
            <section class="troopes" data-vertification="true" data-troope="hello">
                <div class="statement">
                    <div class="head"><img class="lazy" data-original="../Public/images/avatar.png" alt="avatar"/></div>
                    <div class="troope_info">
                        <h3>计算机啦啦队</h3>
                        <p>队伍由超人，蜘蛛侠，钢铁侠，绿灯侠，蝙蝠侠，绿箭侠，益达侠等特NB并由A DB公司赞助的人组成</p>
                    </div>
                </div>
                <div class="panel">
                    <div class="heart">
                        <a class="vote"><img class="lazy" data-original="../Public/images/broken_heart.png" alt="heart"/></a>
                        <span class="tickets">100票</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/troope.png" alt="Troope"/></a>
                        <span>队伍详情</span>
                    </div>
                    <div class="heart">
                        <a href="#"><img class="lazy" data-original="../Public/images/TV.png" alt="Troope"/></a>
                        <span>微视屏</span>
                    </div>
                </div>
            </section>

        </section>

        <footer>
            <p>本网站由红岩网校工作站负责开发，管理，不经红岩网校委员会书面同意，不得进行转载</p>
        </footer>
    </div>
    <div class="vote_success" style="display: none;">
        <div class="close"><img src="../Public/images/close.png" alt="close"/></div>
        <div class="vote_wrapper" style="display: none;">
            <img src="../Public/images/vote_success.png" alt="vote_success"/>
        </div>
        <div class="vote_fail" style="display: none;">
            <img src="../Public/images/vote_error.png" alt="vote_error"/>
        </div>
    </div>
    <div class="headroom">
        <img class="move_up" src="../Public/images/up.png" alt="up"/>
    </div>
    <div class="send">
        <div class="sendButton">发送</div>
        <!--<img id="send" src="../Public/images/send.png" alt="send"/>-->
    </div>
</body>
<script type="text/javascript" src="../Public/javascripts/settings.js"></script>
<script type="text/javascript" src="../Public/javascripts/jquery.js"></script>
<script type="text/javascript" src="../Public/javascripts/jquery.lazyload.js"></script>
<script type="text/javascript">
    $("img.lazy").lazyload({
        threshold : 200
    });
</script>
<script type="text/javascript" src="../Public/javascripts/headroom.js"></script>
<script type="text/javascript" src="../Public/javascripts/static.js"></script>
<script type="text/javascript">
    var myElement = document.querySelector(".headroom");
    // 创建 Headroom 对象，将页面元素传递进去
    var headroom  = new Headroom(myElement);
    // 初始化
    headroom.init();
</script>
</html>