<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>啦啦队投票</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../Public/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link rel="stylesheet" href="../Public/css/unsuccess.css"/>

</head>
<body>
<div class="container">
    <nav class="nav title">
        <h3>啦啦队投票</h3>
    </nav>
    <div class="sorry">
        <div class="sorry_logo"><img src="../Public/images/sorry.png" alt="sorry"/></div>
        <div class="sendButton"><a href="">发送</a></div>
        <p>您还剩<span>3</span>次机会</p>
    </div>
    <footer>
        <p>本网站由红岩网校工作站负责开发，管理，不经红岩网校委员会书面同意，不得进行转载</p>
    </footer>
</div>
</body>
</html>